<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPmaiSsUoNCJYC4Wwz7PxTmYq4qKixhZc</string>
	<key>GCM_SENDER_ID</key>
	<string>14976270990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.asynconftuto.flutterProjects</string>
	<key>PROJECT_ID</key>
	<string>asynconf-tuto-pour-apprflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>asynconf-tuto-pour-apprflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14976270990:ios:8f946fe311a2d62bc77fdf</string>
</dict>
</plist>